body {
    max-width: 1440px; 
    min-height: 650px;
	line-height: 1;
    font-family: 'Work Sans';
    font-size: 14px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    background: #FFFEF8;

    
}

main {
    width: 1140px;
    display: flex; 
    flex-direction: column; justify-content: space-between;
    align-items: center;
    align-self: center;
}




/******* Header ******/
header {
	display: flex; justify-content: space-between;
    margin: 50px 0 100px;  

}

h1{
	display: flex; flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
    cursor: pointer;
    /* curseur de la souris en forme de main qui sera affiché au survol */
}


li:hover {
	color: #B1663C; 
    /* couleur du login de nav au survol */
}

a {
    align-self: center; 
    color: #3D3D3D;
    text-decoration: none; 
    /* sans décoration */
} 


a:hover {
	color: #B1663C;
    /* couleur du nav et mot de passe oublié au survol*/
}

#logo-insta {
	width: 20px;
	height: 20px;
}




/****** Conteneur de login *******/
.login {
    display: flex; flex-direction: column;
    margin: auto; 
    
} 

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
    margin-bottom: 50px;
    align-self: center; 
}

label {
    color: #3D3D3D;
}

#email-bar , #password-bar {
    width: 379px;
    height: 51px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 14px 0px #00000017;
    margin-top: 10px;
    margin-bottom: 20px;
  }

/* Bouton se connecter */
  input[type="submit"] {
    width: 180px;
    height: 36px;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    border-radius: 60px;
    border: none;
    text-align: center;
}

/* mot de passe oublie */
#forgot-password:hover {
    text-decoration: underline;       
    /* txt sera souligné au survol */
}



/****** footer ******/
footer nav ul {
	display: flex; justify-content: flex-end;
    margin-top: 100px;
}