
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	overflow-x: hidden; 	/* Scroll Horizontale , Pour masquer le débordement horizontal du contenu */
	margin-top: 100px; 		/* Pour ne pas coller au haut avec mode_edition */
}

/* mode edition - en haut de la page */
.mode_edition{	
	background: black;
    color: white;
    align-items: center;
    height: 59px;
    width: 100%;
    display: flex;
	justify-content: center;
	position: absolute; 	/* Retire l'élément du flux normal pour le positionner en haut de la page sans perturber le reste du contenu */
	top: 0; 				/* Pour le positionner en haut de la page */
	left: 0; 				/* positionner à gauche de la page */
	}

/* mode edition - icone */
.mode_edition .fa-regular , .fa-pen-to-square {
	color: white;
	font-size: 16px;
	height: 30px;
	display: flex;
    align-items: center;
	margin-left: 10px;
}

/* mode edition - lien */
.txt_edition {
	color: white;
	font-size: 16px;
	height: 30px;
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
	/* curseur de la souris en forme de main qui sera affiché au survol,
       indiquant que l'élément est cliquable */
}

li:hover {
	color: #B1663C;
}

/* Ajout du style pour le lien naviguation header */
nav a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #B1663C;
}

/* Changement les dimensions de logo insta qui ce trouve dans header Nav */
#logo-insta {
	width: 20px;
	height: 20px;
}


#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/****** Les Filtres Partie catégories */
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filters_btn {
	/* style btn */
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 8px 16px;
    min-width: 100px;
	cursor: pointer;

	/* txt du bouton */
	color: #1D6154;
    font-family: 'Syne';
    font-size: 16px;
	font-weight: 700;
}

.filters_btn:hover {
	background-color: #1D6154;
	color: white;
}

/* bouton cliqué actif */
.filters_btn.toggled {
	background-color: #1D6154; 
	color: white;
  }

/****** Portfolio Partie Galerie */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* modifier mes projets - aligner horizontalement */
.portfolio_title {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

/* modifier - lien */
.edit{
	color: black;
	font-size: 16px;
	height: 30px;
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

/* modifier - icone */
.portfolio_title .fa-regular , .fa-pen-to-square {
	color: black;
	font-size: 16px;
	height: 30px;
	margin-left: 40px;
	display: flex;
    align-items: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 40px;
}

.gallery img {
	width: 100%;
	height: 500px;
    object-fit: cover;
}

/* titre sous l'image  */
.gallery figcaption {
	margin-top: 10px;
}


/****** Partie Contact */
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer; /* curseur de la souris en forme de main qui sera affiché au survol */
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}


/***** Modale *****/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: hidden; /* masquer le double scroll vertical */
}

/* contenu de la modale */
.modal_content_1 {
	background-color: #FFFFFF;
	margin: 4% auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 34%; /*dimmention temporaire*/
	height: 77%;    /*dimmention temporaire*/
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* div fermeture et retour */
.div_close_back {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* icone fermeture */
.modal_content_1 .fa-xmark {
	margin-left: auto; 	/* Pousse l'icône vers la droite */
	font-size: 24px;
	cursor: pointer;
}

/* titre modale */
.modal_content_1 h3 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 26px;
	margin: 20px;
	color: black;
	font-family: work sans;
}


/* conteneur gallery modal 1 */
.gallery_modal {
	display: flex;
    flex-wrap: wrap;
	justify-content: flex-start; /* mettre les img à gauche*/
	text-align: center;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;
	height: 336px;	  /* fixer hauteur */
    overflow-x: auto; /* scroll horizontale sur le conteneur des img de la modale pour ne pas la dépasser*/
}


/* image modal 1 */
.img_modal {
	margin: 5px;
	width: 100%;
	height: 102px;
    object-fit: cover;
}


/* box image modal 1 */
.img_modal_box {
    position: relative;
    display: inline-block;
    margin: 5px;
	width: 76px;
	height: 102px;
}


/* icone supression */
.img_modal_box i {
	position: absolute; /* Retire l'élément du flux normal pour le positionner en haut de la page sans perturber le reste du contenu */
	top: 10px;
    right: 0px;
	background-color: black;
	border-radius: 3px;
	padding: 5px;
	font-size: 9px;
	color: white;
	cursor: pointer;
}

.img_modal_box i:hover {
	color: red;
	background-color: white;
}


/* bouton ajout */
.btn_add {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: syne;
	font-size: 14px;
	font-weight: 700;
	color: white;
	height: 36px;
	width: 237px;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
	margin-top: 30px;
}


/* modale 2 */
/* icone retour */
.modal_content_1 .fa-arrow-left {
    font-size: 24px;
    cursor: pointer;
}

/* div uploader image */
.uploader_img {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: work sans;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-left: 60px;
	margin-right: 60px;
	height: 169px;
	width: -webkit-fill-available;
	min-width: fit-content;
	gap: 5px;
	/* cursor: pointer; */
}

/* icone file */
.uploader_img .fa-image {
	font-size: 76px;
	color: #CBD6D9;
	margin: 0px;
	padding: 30px;
}

/* label ajouter photo */
.uploader_img label {
	font-size: 14px;
	font-weight: 500;
	color: #306685;
	cursor: pointer;

	border: 1px solid #CBD6DC;
	background-color : #CBD6DC;
    border-radius: 50px;
	padding: 10px;

	width: 173px;
	text-align: center;

}

/* input file */
.uploader_img input {
	display: none;
	color: #CBD6DC;
}

/* preview image */
.image_preview {
	display: none; 		/* Cache le contenu de l'image */
	object-fit: cover;  /* Pour couper l'image si elle est trop grande */
	height: 169px;
    width: 129px;
}



/* max size txt */
.max_size  {
	font-size: 10px;
	font-weight: 400;
	color: black;
}

/* formulaire modale 2 */
.form_modal {
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: -webkit-fill-available;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 30px;
    margin-top: 20px;
}


/* label titre */
.form_label {
	display: flex;
    justify-content: flex-start;
    font-family: work sans;
    font-size: 14px;
    font-weight: 500;
    color: black;
    width: -webkit-fill-available;
}

/* input de titre */
#title_input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: work sans;
	font-size: 14px;
	font-weight: 400;
	color: black;
	height: 51px;
	width: -webkit-fill-available;
	border: none;
	box-shadow: 0px 4px 15px 0px #00000017;
	margin-bottom: 20px;
	padding-left: 20px;
    text-align: left;
}


/* selection category */
#category_select {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: work sans;
	font-size: 14px;
	font-weight: 400;
	color: black;
	height: 51px;
	width: -webkit-fill-available;
	border: none;
	box-shadow: 0px 4px 15px 0px #00000017;
	padding-left: 20px;
    text-align: left;
}


/* bouton valider */
.btn_valider {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: syne;
	font-size: 14px;
	font-weight: 700;
	color: white;
	height: 36px;
	width: 237px;
	background-color: #A7A7A7;
    border: 1px solid #A7A7A7;
	border-radius: 60px;
    cursor: pointer;
	margin-top: 30px;
	/* background-color: #1D6154; */
    /* border: 1px solid #1D6154; */
}

.message_ajout {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000; 			/* Assurez-vous que le message est au-dessus des autres éléments */
    max-width: 80%; 		/* Limite la largeur du message */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}












